
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


body{
    background-image: url(./assets/images/maths.jpg);
    /* background-image: linear-gradient(180deg,  rgb(165, 209, 179), rgb(26, 80, 57)); */
    /* min-height: -webkit-calc(100vh - 100px); */
    /* min-height: -moz-calc(100vh - 100px); */
    min-height: calc(100vh - 100px);
    position: relative;
}

#principal {
    background-color: rgba(255, 255, 255, 0.904);
    margin: 2em 5em;
    border-radius: 20px;
    padding: 2em;
    box-shadow:10px 13px 50px -13px rgba(0,0,0,0.75);
    min-height: 100vh;
}


#calculator {
    padding-top: 2em;
}

#btn {
    margin-top: 1em;
}
.pythagoras-image {
    height: 10em;
    width: 10em;
}

/*Footer*/
footer {
    text-align: center;
    padding: 10px;
    background-color: black;
    color: white;
    /* display: block; */
    /* min-height: 100px; */
    width: 100%;
}

#imgfooter {
    width: 40px;
    height: 40px;
}